    body {
        margin: 0;
    }

    .container {
        position: relative;
        height: 100vh;
    }

    .title-box {
        height: 10vh;
        position: sticky;
        top: 0%;
    }

    h1 {
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        font-weight: 600;
        color: white;
        margin: 0px 15px;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
    }

    p {
        font-family: "Roboto", sans-serif;
        font-size: 130px;
        font-weight: 600;
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    #card-1 {
        background-color: white;
    }

    #card-1 .title-box {
        background-color: red;
    }

    #card-2 {
        background-color: rgb(67, 183, 255);
    }

    #card-2 .title-box {
        background-color: darkblue;
    }

    #card-3 {
        background-color: rgb(104, 104, 104);
    }

    #card-3 .title-box {
        background-color: rgb(41, 41, 41);
    }

    #card-4 {
        background-color: red;
    }

    #card-4 .title-box {
        background-color: rgb(109, 17, 17);
    }